.profile_menu h3>a{
        color: #3d4a54;
}
.cart_info .row h2 {
        font-size: 15px;
        text-transform: capitalize;
        color: #EC0003;
}
.abn{
        float: right;
}
.product_list_home .item .item-wrap .product_title, .product_list_main .item .item-wrap .product_title {
        border-top: solid 1px #d9dcde;
        padding: 8px 12px;
        /*font-size: 15px;*/
        font-family: font89189, "Arial Rounded MT Bold", "Open Sans", "sans-serif";
        color: #37454f;
        padding-bottom: 0px;
}
.product_data{
        height: 280px;
        position: relative;
        overflow: hidden;
}

.alert-success {
        color: #ffffff;
        background-color: #384650;
        border-color: #d6e9c6;
        margin-top: 15px;
}
.alert-danger {
        color: #ffffff;
        background-color: #791f1f;
        border-color: #ebccd1;
        margin-top: 15px;
}
.pager li>a, .pager li>span {
        display: inline-block;
        padding: 2px 13px;
        background-color: #fff;
        border: 1px solid #4caf20;
        border-radius: 0px;
        color: #4caf20;
}
li.page.active a {
        color: #fff !important;
        background-color: #4caf20;
}
.pager li>a, .pager li>span {
        display: inline-block;
        padding: 3px 14px;
        background-color: #fff;
        border: 1px solid #4caf20;
        border-radius: 0px;
        color: #4caf20;
}
.list-view .pager {
        margin: 5px 0 0 0;
        text-align: right;
        width: 100%;
        float: left;
}
.pagination {
        font-size: 13px;
        text-align: right;
        display: block;
        margin-top: 30px;
}
/*li.previous.disabled {
        display: none;
}
li.next.disabled {
        display: none;
}*/
.pager .disabled>a, .pager .disabled>a:focus, .pager .disabled>a:hover, .pager .disabled>span {
        color: #4caf20;
        cursor: not-allowed;
        background-color: #fff;
}

.pager .previous>a, .pager .previous>span {
        float: none;
}
li.first {
        display: none;
}
li.last.disabled {
        display: none;
}
li.last {
        display: none;
}
.sel_cat{
        font-weight: bold;
}
.product_loader {
        width: 100%;
        height: 100%;
        background-color: rgba(251, 251, 251, 0.95);
        position: absolute;
        z-index: 10;
        opacity: 1;
        display: none;
        text-align: center;
}
.product_loader img {
        width: 150px;
        display: inline-block;
        text-align: center;
        margin-top: 60px;
}
.reset_filter{
        float: right;
        color: #f78b17;
        font-size: 10px;
}
.reset_filter a{
        color: #f78b17;
}
.slick-slide img {
        max-height: 506px;
}
.product-details .big_image_slider {
        max-height: 506px;
        overflow: hidden;
}

@import url('http://fonts.googleapis.com/css?family=Roboto:500,100,300,700,400');
.review_content{
        padding-bottom: 10px;
        border-bottom: dotted 1px #ccc;
        margin-bottom: 10px;
}

i.fa.stars.fa-star {
        color: #cf7116;
}
a.reviews{
        padding: 11px 32px;
        font-size: 13px;
        color: #fff;
        background: #122102;
        font-family: 'Lato', sans-serif;
        border: none;
        float: left;
        margin-top: 0;
        text-transform: uppercase;
}

hr {
        margin: 20px;
        border: none;
        border-bottom: thin solid rgba(255,255,255,.1);
}

div.title { font-size: 2em; }

h1 span {
        font-weight: 300;
        color: #Fd4;
}

div.stars {
        //width: 270px;
        display: inline-block;
}

input.star { display: none; }

label.star {
        float: right;
        padding: 10px;
        padding-left:0px;
        font-size: 16px;
        color: #122102;
        transition: all .2s;
}
input.star:checked ~ label.star:before {
        content: '\f005';
        color: #FD4;
        transition: all .25s;
}

input.star-5:checked ~ label.star:before {
        color: #FE7;
        text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
        content: '\f006';
        font-family: FontAwesome;
}

i.fa.stars.fa-star {
        color: #f78b17;
        font-size: 16px;

}
i.fa.stars.fa-star.blank{
        color: #37454f;
        font-size: 16px;
}

.detail-zoom-color span {
        font-size: 11px;
        color: #9d9d9d;
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
}
.detail-color-box {
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
}
.detail-color-box input {
        position: absolute;
        visibility: hidden;
        margin: 0;
}
.detail-color-box label {
        margin: 0;
        position: relative;
        width: 30px!important;
        height: 30px!important;
        margin-right: 0px !important;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 2px;
}
.detail-color-box label span.cirle {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        background: #424687;
        /*border: 2px solid #969191;*/
}
.detail-color-box label .detail-path {
        fill: transparent;
        fill-rule: evenodd;
}
.detail-svg {
        position: absolute;
        width: 100%;
        height: 100%;
        transform-origin: center;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        -moz-transition: all .3s;
        -webkit-transition: all .3s;
        transition: all .3s;
        opacity: 0;
}
.detail-color-box input:checked + label .detail-svg {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 1;
}
.detail-zoom-color {
        margin-bottom: 18px;
}

.side-size-box {
        /* padding: 15px 10px; */
        margin-bottom: 15px;
}
.side-size-cont input {
        position: absolute;
        visibility: hidden;
}
.side-size-cont {
        display: inline-block;
        vertical-align: top;
        width: 42px;
        height: 27px;
        margin-right: -1px;
        margin-bottom: 2px;
}
.side-size-cont label {
        width: 100% !important;
        height: 100% !important;
        border: 1px solid #d2d2d2;
        text-align: center;
        color: #7c7c7c;
        font-size: 16px;
        background: #fff;
        cursor: pointer;
}
.side-size-cont input:checked + label {
        border-color: #9c5b2c;
}
.detail-color-box input:disabled + label {
        opacity: 0.2;
}
.side-size-cont input:disabled + label {
        opacity: 0.6;
        border: 1px solid #d2d2d2;
}
.side-size-cont label {
        border: 1px solid #989898;
}
.side-size-cont input:checked + label {
        border-color: #9c5b2c;
        border: 2px solid #9c5b2c;
}
.side-size-cont label.active {
        border-color: #9c5b2c;
        border: 2px solid #9c5b2c;
}
span.logins {
        cursor: pointer;
}
.emptybg a {
        color: #333;
        font-size: 15px;
}
.emptybg h3 {
        font-weight: bold;
}
.emptybg {
        display: inline-block;
        text-align: center;
        margin-top: 25px;
}
.myaccount a {
        color: #000;
        text-decoration: none;
}
.profile-content-area h1 {
        display: inline-block;
}

.under_maintenance {
        text-align: center;
}
.cober {
        display: inline-block;
        text-align: center;
}
.cober img {
        margin-top: 30px;
}
.continue_shop{
        text-transform: uppercase;
        background-color: #384650;
        border-radius: 0;
        outline: none;
        height: 40px;
        line-height: 40px;
        padding: 9px 28px;
        border: solid 1px #384650;
        border-radius: 4px;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-weight: bold;
}
.continue_shop:hover{
        color:#fff;
        text-decoration: none;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: #f7f7f7;
        opacity: 1;
}
.profedit-color-box {
        font-size: 11px;
}
.errorMessage {
        color: red;
}

header .top-bar .shop_menu_top li.my_credit img {
        float: left;
        margin-top: 3px;
        margin-right: 5px;
}

img.no_result_image {
        margin-top: 50px;
}
.login_form {
        width: 400px;
        max-width: 100%;
        margin: auto;
        padding: 22px;
        background-color: rgba(255, 255, 255, 0.73);
}
.all_history {
        padding: 10px;
}
.history_data {
        padding: 5px;
        border: 1px solid #ccc;
        text-align: center;
        text-transform: capitalize;
        font-size: 13px;
}
a.history_a {
        color: #37454f;
        text-decoration: none;
        font-weight: 600;
        cursor: pointer;
}

a.history_a:hover {
        color: #e8a11f;
}
.detail-color-box input:checked + label {
        border: 2px solid #ccc;
}
.detail-color-box input.active + label {
        border: 2px solid #ccc;
}
.option_image {
        width: 125px;
}
.option_image img {
        width: 100%;
}
.page_banner img {
        width: 100%;
}

i.fa.stars.fa-star.blank {
        color: #37454f;
        font-size: 12px;
}
.product_srar li{
        padding: 0px;
}
i.fa.stars.fa-star {
        color: #f78b17;
        font-size: 12px;
}
.login_form .forgot {
        cursor: pointer;
}
span.newuser {
        cursor: pointer;
}

 @media (max-width: 767px) {
     .size_color span.tds{
         display:block;
     }
     .cart_image img{
         margin:auto;
     }
 }
  @media (max-width: 600px) {
 .product-details-tab .nav-tabs li a {
        border:solid 1px #ccc;
        color: #185f98;
    }
.product-details-tab .nav-tabs li.active a {

        color: #4baf1f;
    }
    .login_form{
        padding:0px;
    }
    .login_form .form-group{
        margin-bottom:6px;
    }
}
.login_modal .modal-dialog{
    max-width:96%;
}
.product-desc h1{
    font-size: 12pt;
    font-family: Arial;
    color: #000000;
    background-color: transparent;
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
    vertical-align: baseline;
    white-space: pre;
    white-space: pre-wrap;
}