/* Scss Document */
.featured{
	background-color: rgba(229, 229, 229, 0.66);
	padding: 20px 0px 30px 0px;
	.featured_grid{
		@include flex();
		.grid-3{
			width: 336px;
			position: relative;
			@include screen(tab){
				width: 286px;
			}
			.add_claption{
				@extend .absolute;
				bottom: 30px;
				text-align: center;
				color: #fff;
				width: 100%;
				padding: 20px;
				h3{
					font-size: 24px;
					font-family: $font4;
					font-weight: normal;
					margin: 0px;
				}
				h5{
					font-family: $font1;
					font-weight: normal;
					margin: 0px;
					margin-bottom: 40px;
				}
				p{
					margin-bottom: 40px;
				}
			}
			&.ad_banner{
				background-size: cover;
				background-position: top;
			}
			@include screen(smart){
				display: none;
			}
		}
		.grid-9{
			width: calc(100% - 336px);
			padding-left: 30px;
			@include screen(tab){
				width: calc(100% - 286px);
			}
			@include screen(smart){
				width: 100%;
				padding-left: 0px;
			}
		}
	}
	h1{
		font-size: 26px;
		text-transform: uppercase;
		font-family: $font2;
		margin: 0px;
		margin-bottom: 20px;
		span{
			display: block;
			font-family: $font1;
			font-size: 14px;
			text-transform: none;
			color: $color2;
		}
	}
}
.home_product_slider {
	margin: 0px -15px;
}
.product_list_home{
	.item{
		margin-top: 32px;		
		.item-wrap{
			background-color: #fff;
			   border: solid 1px #f1f1f1;
			position: relative;
			.prdt_img{
				height: 204px;
				overflow: hidden;
				text-align: center;
				line-height: 184px;				
				/*background-color:#fafafa;*/
				position: relative;
            	@include screen(iphone){
                  	height:auto;
                  }
				img{
					@include transition_all(0.6s);
				}				
				.product_hover{
					position: absolute;
					left: 0px; right: 0px; margin: auto; top: 0px; bottom: 0px;
					line-height: 20px;
					background-color: rgba(255,255,255,0.54);
					visibility: hidden;
					opacity: 0;
					@include transition_all(0.4s);
					@include translate_y(100%);
					.button{
						font-size: 12px;
						padding: 6px 10px;
						margin: 4px 0px;
					}
					padding-top: calc((100% / 2));
					@include screen(mobile){
						display: none;
					}
				}
				
				
			}
			.product_title{
					border-top: solid 1px $gray;
					padding: 8px 12px;
					font-size: 18px;
				font-family: $font1 !important;
				color: $color2;
				padding-bottom: 0px;
				@include screen(smart){
					float: none;
					text-align: left;
					font-size: 15px;
				}
				@include screen(mobile){
					height: 50px;
					line-height: 19px;
				}
				a{
					color: $color2;
               		@include transition_all(0.3s);
					text-decoration: none;
					&:hover{
                  		
						color:$color1;
                  		text-decoration:none;
					}
				}
				}
			.product_price{
				color: #8d8d8d;
				font-size: 13px;
				font-weight: 500;
				padding-left: 12px;
				padding-right: 12px;
				padding-bottom: 10px;	
				@include screen(smart){
					float: none;
					text-align: left;
				}
			}
			
			.new-badge{
				background-image: url(../images/new-badge.png);
				width: 64px;
				height: 52px;
				position: absolute;
				top: 0px;
				right: 0px;
				z-index: 100;
			}
			.sold-badge{
				@extend .new-badge;
				background-image: url(../images/sold-badge.png);
			}
			.sale-badge{
				@extend .new-badge;
				background-image: url(../images/sale.png);
			}
			&:hover{
				.prdt_img{
					.product_hover{
						@include translate_y(0);
						visibility: visible;
						opacity: 1;
					}
					img{
						@include scale(1.1);
					}
				}
				}
		}
	}
    .new-arrival-slider{
        	@include screen(iphone){
                  	margin-top:30px;
                  }
        }
}
.product_srar{
				float: right;
				margin-right: 10px;
				color: rgba(241,142,0,1.00);				
				a{
					.fa{
						font-size: 12px;
						margin-left: 2px;
						color: rgba(241,142,0,1.00);
					}
					&:hover, &.active, &.on{
						.fa-star-o:before{
							content: "\f005";
						}
						
					}
					&.active{
						.fa-star-o:before{
							content: "\f005" !important;
						}
					}
					
				}
				&.disabled{
					a{
							&:hover{
								.fa{
									&.fa-star-o:before{
										content: "\f006";
									}
								}
							}
						}
				}
				@include screen(smart){
						float: none;
					text-align: center;
					display: none;
					}
			}

