/* Scss Document */
body{
	&.menu_open{
		overflow: hidden;
	}
}
header{
	position: relative;
	z-index: 2000;	
    @include screen(mobile){
       background-color:#fafafa;
      }
	.logo{
		img{
			@include transition_all(0.3s);
			width: 235px;
		}
	}
	.logo_small{
		display: none;
	}
	&.scrolled{
		position:fixed;
		width:100%;
		top:0px;
		background-color:#fafafa;
		z-index:200000 !important;
		box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
		.logo{
			display: none;
			@include screen(tab){
				display: block;
			}
		}
		.logo_small{
			display: block;
			margin-right: 5px;
			width: 100px;
			height: 26px;
			position: relative;
			img{
				position: absolute;
				left: 0px;
				top: -2px;
			}
			@include screen(tab){
				display: none;
			}
		}
	}
	&.scrolled1{
		/*padding-top: 46px;*/
		padding-top: 0px;
		@include screen(smart){
			    padding-top: 0px;
		}
		.top-bar{
			/*position: fixed;
			top: 0px;*/
			width: 100%;
			background-color: #fff;
			z-index: 40000000;
		}
	}
	
	.top-bar{
		padding: 10px 0px;
		border-bottom: solid 1px $gray;
		color: $color2;
      background-color: #fff;
		font-size: 12px;
		line-height: 26px;
		@include transition_all(0.3s);
		    position: relative;
    	z-index: 30000000000000000000000;
		@include screen(mobile){
			padding: 6px 0px;
		}
		.phone_number{
			float: left;
			margin-right: 30px;
			font-weight: 500;
			a{
				color: $color2;
			}
			@include screen(smart){
				font-size: 18px;
				span{
					display: none;
				}
			}
		}
		.time{
			float: left;
			font-weight: 500;
			
			@include screen(tab){
				display: none;
			}
		}
		.shop_menu_top{
			display: block;
			float: right;
			@extend .list_none;
			font-weight: 500;
			color: $color2;
			a{
				color: $color2;
				text-decoration: none;
				&:hover{
					color: $color1;
				}
			}
			li{
				float: left;
				margin-left: 20px;
				
				&.search_box{
					i.fa{
					font-size: 18px;
					@include screen(smart){
						font-size: 16px;
					}
						
					}
					a{
							color: $color2;
						&.active, &:hover{
							color:$color1;
							@include screen(mobile){
								color: $color2;
							}
						}
						 &.active{
							
							@include screen(mobile){
								color: $color1;
							}
						}
					}
					position: relative;
					.s_dropdown{
						display: none;
						z-index: 500;
						background-color: #fff;
						position: absolute;
						width: 250px;
						right: -14px;
						top: 36px;
						padding: 5px;
						border: solid 1px $gray;
						&.active{
							display: block;
						}
						&:before{
							@include icon_font();
							content: "\f0d8";
							position: absolute;
							top: -15px;
							right: 14px;
							color:$color2;
							font-size: 20px;
						}
						.row{
							margin: 0px;
							& > div{
								padding: 0px;
								input{
									width: 100%;
								}
								button{
									padding: 3px 10px;
									font-size: 15px;
									width: 100%;
									border-radius: 0px;
									i.fa{
										font-size: 15px;
									}
								}
							}
						}
					}
					
				}
				&.my_credit{
					@include clear_after();
					padding-top: 0px;
					img{
						float: left;
						margin-top: 3px;
					}
					.text{
						float: left;
						span{
						font-size: 10px;
						line-height: 12px;
							display: block;
						}					
						strong{
							float: left;
							font-size: 12px;
							line-height: 14px;
						}
						a{
							color: $color2;
							&:hover{
								color:$color1;
								text-decoration: none;
							}
						}
					}
				}
				&.userlogin{
					i {
						font-size: 18px;
					}
				}
				&.cart_items{
					position: relative;
					padding-right: 17px;
					@include screen(mobile){
						
						padding-right: 19px;
					}
					span{
						position: absolute;
						display: block;
						background-color: $color2;
						color: #fff;
						width: 16px;
						height: 16px;
						border-radius: 200px;
						text-align: center;						
						font-weight: normal;
						top: -4px;
						right: 0px;
						line-height: 16px;
						font-size: 11px;
						@include screen(mobile){
							right: 0px;
						}
					}
					&:hover{
						span{
							background-color: $color1;
						}
					}
				}
				&.has_c_dropdown{
					position: relative;
					a{
						color: $color2;
					}
					ul{
						list-style: none;
						position: absolute;
						left: 0px;
						padding: 0px;
						background-color: #fff;
						border: solid 1px lighten($color2,50%);
						border-bottom: 0px;
						display: none;
						z-index: 500;
						li{
							display: block;
							float: none;
							text-align: left;
							margin: 0px;
							
							border-bottom: solid 1px lighten($color2,50%);
							a{
								display: block;
								padding: 4px 12px;
								color: $color2;
								&:hover{
									background-color: #F5F5F5;
									color: $color1;
								}
							}
						}
						&.c_dropdown.y_account{
							width: 160px;
						}
					}
					&:hover {
						ul{
							display: block;
						}
					}
				}
			}
		}
		
	}
	.logo{
		text-align: center;
		padding: 20px 0px;
		padding-top: 15px;
		@include screen(tab){
			padding: 6px 0px;
			text-align: left;
			img{
				width: 110px;
			}
		}
		@include transition_all(0.3s);
	}
}
.home_slider{
	position: relative;
	@include screen(mobile){
		overflow: hidden;
	}
	background-image: url(../images/slider-border.jpg);
	padding-bottom: 0px;
	border-bottom: solid 1px $gray;
	background-position: bottom;
	background-repeat: repeat-x;
}
.carousel{
	@include screen(mobile){
/*		width: 768px;*/
	}
	@include screen(smart){
		/*margin-left: calc(-1 * (768px - 100%)/2);*/
	}
	img{
		
		@include transition_all(8s);
		width: 100%;
	}
	.item.active{
		
		@include screen(iphone){
			img{
			@include scale(1.1);
			}
		}
	}
	
}
/********/
/******SLIDER AREA*******/
.carousel-caption {
    text-align: left;
    width: 100%;
    left: 0;
    right: 0;
    max-width: 1140px;
    margin: auto;
	bottom: 50px;
	@include media_max(1150px){
			bottom: 20px;
			max-width: 94%;
			
		}
	@include screen(iphone){
			bottom: 0;
			
			
			padding: 15px 20px;
			max-width: 100%;
		
		}
	
	h2{
		font-family: $font1;
		font-weight: 300;
		font-size: 38px;
		margin: 0px;
		line-height: 38px;
		text-transform: uppercase;
		color: #235091;
		font-weight: bold;
		text-shadow: none;
		@include media_max(1150px){
			font-size: 28px;
		}
		@include screen(mobile){
			
		}
		@include screen(smart){
			
		}
		@include screen(iphone){
		
		}
		
	}
	h3{
		font-weight: 600;
		color: #414141;
		text-shadow: none;
		margin: 0px;
		font-size: 17px;
		line-height: 26px;
		@include media_max(1150px){
			font-size: 14px;
			
		}
		@include screen(smart){
			padding: 0px;
			text-align: center;
			color: #000;
			font-style: normal;
			display: none;
		}
	}
	.button_group{
		display: block;
		margin-top: 0px;
		a{
			margin-right: 10px;
		}
		margin-top: 80px;
		@include screen(tab){
			margin-top: 40px;
		}
		@include screen(smart){
			margin-top: 10px;
		}
		@include screen(smart){
			.button{
				padding: 8px 12px;
			}
		}
	}
	.title{
		font-size: 78px;
		font-family: $font3;
		color: $color2;
		text-shadow: 0px 0px 5px #fff;
		line-height: 66px;
		span {
    		font-size: 45px;
		}
		&.line2{
			font-size: 68px;
		}
		&.line3{
			font-size: 88px;
		}
		@include screen(tab){
			font-size: 58px;
			line-height: 56px;
			&.line2{
				font-size: 48px;
			}
			&.line3{
				font-size: 68px;
			}
		}
		@include screen(mobile){
			font-size: 48px;
			line-height: 46px;
			span {
    			font-size: 25px;
			}
			&.line2{
				font-size: 38px;
			}
			&.line3{
				font-size: 58px;
			}
		}
		@include screen(smart){
			font-size: 38px;
			line-height: 36px;
			&.line2{
				font-size: 32px;
			}
			&.line3{
				font-size: 38px;
			}
		}
		@include screen(smart){
			font-size: 28px;
			line-height: 26px;
			span {
    			font-size: 15px;
			}
			&.line2{
				font-size: 22px;
			}
			&.line3{
				font-size: 28px;
			}
		}
	}
}
.carousel-inner{
	.container{
		@include screen(smart){
			padding: 0px;
		}
	}
}
.carousel-indicators{
	@include screen(smart){
			display: none;
		}
}
/********/
.carousel-control .icon-prev{
	left: 20%;
	margin: auto;
    line-height: 80px;
    top: 0;	
}
.carousel-control .icon-next{
	left: 20%;
	margin: auto;
    line-height: 80px;
    top: 0;	
}
.carousel-control{
	width: 110px !important;
	&.left{
		cursor: url(../images/carousel-left.png), auto;
	}
	&.right{
		cursor: url(../images/carousel-right.png), auto;
	}
	opacity:0.1;
	span{
		display: none !important;
		
	}
}
.carousel-control:hover{
	
}

.delivery{
	background-color: #fff;
	padding: 30px;
	border-bottom: solid 1px $gray;
	@include screen(mobile){
				padding: 10px 15px;
			}
	.newsletter_row{
		h4{
			font-size: 23px;
			font-weight: 600;
			margin: 0px;
			font-family: $font2;
			@include screen(tab){
				font-size: 20px;
			}
		}
		.input-group-addon{
			background: none;
			padding: 0px;
			margin: 0px;
			border: none;
			height: 40px;
			.button{
				height: 40px;
				border-radius: 0px;
				@include screen(tab){
					padding: 10px;
				}
			}
		}
		.form-control{
			padding-left: 10px;
			@include placeholder(#fff);
		}
		@include screen(tab){
			p{
				font-size: 12px;
			}
		}
	}
}
.fast_delivery{
	padding-left: 50px;
	background-image: url(../images/delivery.png);
	background-repeat: no-repeat;
	height: 40px;
	background-position: left center;
	border-right: solid 1px $color2;
	color: $color2;
	@include screen(tab){
				font-size: 12px;
			}
	a{
		color: $color2;
		text-decoration: none;
		&:hover{
			color: $color1;
		}
	}
}
.return{
	padding-left: 40px;
	background-image: url(../images/return-icon.png);
	background-repeat: no-repeat;
	padding-right: 25px;
	height: 40px;
	background-position: left center;
	border-right: solid 1px $color2;
	color: $color2;
	@include screen(tab){
				font-size: 12px;
				padding-right: 0px;
			}
	@include screen(smart){
				border:none;
			
			}
	a{
		color: $color2;
		text-decoration: none;
		&:hover{
			color: $color1;
		}
	}
}
.quick_enquirys{
	padding-left: 50px;
	background-image: url(../images/enquiry_icon.png);
	background-repeat: no-repeat;
	height: 40px;
	background-position: left center;
	border-right: solid 1px $color2;
	@include screen(mobile){
				border:none;
			}
	a{
		color: $color2;
		text-decoration: none;
		&:hover{
			color: $color1;
		}
	}
}

.footer_section{
	
}

/*************************************************/
/***********Other Plugins*****************/

.slick-prev,
.slick-next{
	background:none;
	width: 50px;
	height: 50px;
	border-radius: 0px;
	border: solid 1px #ccc;
	top: -30px;
	color: #000;
	right: 15px;
	@include screen(tab){
		width: 40px;
		height: 40px;
		top: -10px;
		right:15px;
	}
	&:before{
		width: 100%;
		transform: scaleX(1);
		background: none;
		color: #000;
		line-height: 45px;
		z-index: 2;
		position: relative;
		@include screen(tab){
			line-height: 35px;
		}
	}
	&:hover{
		border: solid 1px $color2;
		&:before{
			color: #fff;
		}
		&:after{
			width: 100%;
			left: 0;
			
		}
	}	
	&:after{
		width: 0px;
		right: 0;
		top: 0px;
		border-radius: 0px;
		height: 100%;
		background-color: $color2;
		z-index: 1;
		content: '';
		@include transition_all(0.3s);
		position: absolute;
	}
}
.slick-prev{
	right: 70px;
}
/********/
.slick-dots{
	text-align: left;
	bottom: 0px;
	margin: 0px;
	li{
		background-color: #fff;
		width: 8px;
		height: 8px;
		margin: 0px;
		margin-right: 4px;
		&.slick-active{
			button{
				background-color: $color2;
			}
			}
		button{
			width: 8px;
			height: 8px;
			border: none;
			padding: 0px;
			&:hover{
				background-color: $color2;
			}
		}
	}
}
.testi_img_slider{
	margin-bottom: 0px;
}
@import 'home-featured';
@import 'home-new-arrivals';

.different{
	padding: 50px 0px;
	background-color: #f1f1f1;
	
	.col-sm-6:first-child{
		padding-right: 30px;
		@include screen(mobile){
			padding-right: 15px;
		}
	}
	.col-sm-6:last-child{
		padding-left: 30px;
		@include screen(mobile){
			padding-left: 15px;
		}
	}
	h3{
		text-align: center;
		font-family: $font2;
		margin-bottom: 50px;
		margin-top: 0px;
		font-size: 26px;
		color: $color2;
	}
	p{
		text-align: justify;
	}
	.border-rights{
		border-right: solid 1px darken($gray,10%);
		@include screen(mobile){
			
			border: none;
		}
	}
	.counters{
		text-align: center;
		font-family: $font2;
		margin-bottom: 20px;
		h4{
			font-size: 40px;
			font-weight: bold;
			margin-bottom: 0px;
		}
		h5{
			margin-top: 0px;
			font-size: 18px;
		}
	}
}
@import 'home-blog';

.footer_section{
	padding: 30px 0px;
	padding-bottom: 10px;
	.border-bottom{
			border-bottom: solid 1px $gray;
		padding-bottom: 20px;
		}
	h4{
		font-family: $font2;
		color: $color2;
		&.second-head{
			margin-top: 30px;
		}
	}
	ul{
		padding-left: 20px;
		li{
			font-family: $font4;
			a{
				color: #232b31;
				text-decoration: none;
				font-size: 13px;
				position: relative;
				line-height: 25px;
				font-weight: normal;
				@include transition_all(0.2s);
				&:after{
					@include transition_all(0.2s);
					display: block;
					height: 1px;
					background-color: $color2;
					content: '';
					position: absolute;
					bottom: 0px;
					width: 0;
				}
				&:hover{
					color: $color1;
				}
				&:hover:after{
					width: 100%;
				}
			}
		}
	}
	.footer-contact{
		
		p{
			margin: 10px 0px;
			line-height: 22px;
			color: #50606b;
			font-size: 14px;
		}
		a{
				color: #fff;
				text-decoration: none;
				&:hover{
					color: $color1;
				}
			}
		.fa{
			background-color: #858585;
			color: #fff;
			display: block;
			font-family: $font2;
			padding: 0px 6px 0px 40px;
			margin-bottom: 5px;
			position: relative;
			line-height: 32px;
			&:before{
				font: normal normal normal 14px/1 FontAwesome;
				position: absolute;
				left: 0px;
				top: 0px;
				width: 32px;
				height: 32px;
				text-align: center;
				line-height: 32px;
				background-color: #464646;
			}
		}
	}
	.copyright{
		padding: 15px 0px;
		padding-bottom: 0px;
		overflow: hidden;
		
			font-size: 13px;
			color: #000;
		@include screen(smart){
			text-align: center;
			.text-right{
				text-align: center;
			}
		}
		.socials{
			margin-left: 40px;
			@include screen(smart){
				display: block;
				margin: 0px;
				text-align: center;
				margin-top: 20px;
				margin-bottom: 20px;
			}
			a{
				font-size: 16px;
				color: $gray;
				margin: 0px 10px;
				&:hover{
					color: $color2;
				}
			}
		}
	}
}
